<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.perspectives">
   		<perspective
           class="com.soartech.soar.ide.ui.perspectives.SoarPerspective"
           icon="icons/soar-perspective.gif"
           id="com.soartech.soar.ide.ui.perspectives.SoarPerspective"
           name="Soar">
    	</perspective>
   </extension>
   
   <extension
        point="org.eclipse.ui.editors">
     <editor
           class="com.soartech.soar.ide.ui.editors.text.SoarEditor"
           contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
           extensions="soar,tcl"
           icon="icons/rule.gif"
           id="com.soartech.soar.editor.editors.SoarEditor"
           name="Soar Editor"/>
     <editor
           class="com.soartech.soar.ide.ui.editors.text.SoarDatabaseTextEditor"
           id="com.soartech.soar.ide.ui.editors.text.SoarDatabaseTextEditor"
           icon="icons/rule.gif"
           name="Soar Database Text Editor"/>
     <editor
           class="com.soartech.soar.ide.ui.editors.text.SoarDatabaseOperatorEditor"
           id="com.soartech.soar.ide.ui.editors.text.SoarDatabaseOperatorEditor"
           icon="icons/operator.gif"
           name="Soar Database Operator Editor"/>
     <editor
           class="com.soartech.soar.ide.ui.editors.text.SoarDatabaseTagEditor"
           id="com.soartech.soar.ide.ui.editors.text.SoarDatabaseTagEditor"
           icon="icons/tag.gif"
           name="Soar Database Tag Editor"/>
     <editor
           class="com.soartech.soar.ide.ui.editors.datamap.SoarDatabaseDatamapEditor"
           id="com.soartech.soar.ide.ui.editors.datamap.SoarDatabaseDatamapEditor"
           icon="icons/problem_space.gif"
           name="Soar Database Datamap Editor"/>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="com.soartech.soar.ide.ui.source"
           description="%ActionDefinition.toggleComment.description"
           id="com.soartech.soar.ide.ui.toggle.comment"
           name="%ActionDefinition.toggleComment.name"/>
     <category
           description="Commands for editing Soar source code."
           id="com.soartech.soar.ide.ui.source"
           name="Soar Source"/>
     <command
           categoryId="com.soartech.soar.ide.ui.source"
           description="%ActionDefinition.comment.description"
           id="com.soartech.soar.ide.ui.comment"
           name="%ActionDefinition.comment.name"/>
     <command
           categoryId="com.soartech.soar.ide.ui.source"
           description="%ActionDefinition.uncomment.description"
           id="com.soartech.soar.ide.ui.uncomment"
           name="%ActionDefinition.uncomment.name"/>
     <command
           categoryId="com.soartech.soar.ide.ui.source"
           description="Format the Soar document according to current tab settings."
           id="com.soartech.soar.ide.ui.editor.command.FormatSoarDocument"
           name="Format Soar Document"/>
     <command
           categoryId="com.soartech.soar.ide.ui.source"
           description="Open Soar files that reference this file"
           id="com.soartech.soar.ide.ui.editor.command.OpenReferencingFiles"
           name="Open Referencing Files"/>
     <command
           categoryId="com.soartech.soar.ide.ui.source"
           description="Duplicate the production"
           id="com.soartech.soar.ide.ui.editor.command.DuplicateProduction"
           name="Duplicate Production">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.contexts">
     <context
           description="Editing Soar Source Context"
           id="com.soartech.soar.editor.ui.soarEditorScope"
           name="Editing Soar Source"
           parentId="org.eclipse.ui.textEditorScope"/>
  </extension>
  
  <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           description="Actions on Soar files."
           id="com.soartech.soar.ide.ui.soarActionSet"
           label="Soar Actions"
           visible="false">
        <menu
              id="com.soartech.soar.ide.ui.soarMenu"
              label="Soar"
              path="additions">
           <separator name="soarMenuGroup"/>
        </menu>
        <action
              class="com.soartech.soar.ide.ui.actions.soarmenu.SaveSoarDatabaseProjectActionDelegate"
              id="com.soartech.soar.ide.ui.actions.soarmenu.SaveSoarDatabaseProjectActionDelegate"
              label="Save Project..."
              menubarPath="com.soartech.soar.ide.ui.soarMenu/project"
              style="push"
              tooltip="Save the current Soar project."/>
        <action
              class="com.soartech.soar.ide.ui.actions.soarmenu.OpenSoarDatabaseProjectActionDelegate"
              id="com.soartech.soar.ide.ui.actions.soarmenu.OpenSoarDatabaseProjectActionDelegate"
              label="Open Project..."
              menubarPath="com.soartech.soar.ide.ui.soarMenu/project"
              style="push"
              tooltip="Open an existing Soar project."/>
        <action
              class="com.soartech.soar.ide.ui.actions.soarmenu.NewSoarProjectFromSourceActionDelegate"
              id="com.soartech.soar.ide.ui.actions.soarmenu.NewSoarProjectFromSourceActionDelegate"
              label="New Project With Existing Source..."
              menubarPath="com.soartech.soar.ide.ui.soarMenu/project"
              style="push"
              tooltip="Creates a new Soar project using existing source code."/>
        <action
              class="com.soartech.soar.ide.ui.actions.soarmenu.NewSoarProjectActionDelegate"
              id="com.soartech.soar.ide.ui.actions.soarmenu.NewSoarProjectActionDelegate"
              label="New Project"
              menubarPath="com.soartech.soar.ide.ui.soarMenu/project"
              style="push"
              tooltip="Creates a new Soar project."/>
       <action
             class="com.soartech.soar.ide.ui.actions.soarmenu.GenerateDatamapsActionDelegate"
             id="com.soartech.soar.ide.ui.actions.soarmenu.GenerateDatamapsActionDelegate"
             label="Generate Datamaps"
              menubarPath="com.soartech.soar.ide.ui.soarMenu/agent"
              style="push"
              tooltip="Automatiaclly generates a datamap for each problem space."/>
       <action
             class="com.soartech.soar.ide.ui.actions.explorer.GenerateAgentStructureActionDelegate"
             id="com.soartech.soar.ide.ui.actions.explorer.GenerateProjectStructureActionDelegate"
             label="Generate Project Structure"
              menubarPath="com.soartech.soar.ide.ui.soarMenu/agent"
              style="push"
              tooltip="Automatiaclly generates agent structure."/>
       <action
             class="com.soartech.soar.ide.ui.actions.explorer.ImportRulesActionDelegate"
             id="com.soartech.soar.ide.ui.actions.explorer.ImportRules"
             label="Import Rules..."
              menubarPath="com.soartech.soar.ide.ui.soarMenu/agent"
              style="push"
              tooltip="Imports rules from a text file."/>
       <action
             class="com.soartech.soar.ide.ui.actions.soarmenu.SearchRulesActionDelegate"
             id="com.soartech.soar.ide.ui.actions.soarmenu.SearchRulesActionDelegate"
             label="Search Rules"
              menubarPath="com.soartech.soar.ide.ui.soarMenu/agent"
              style="push"
              tooltip="Searches all rules for a string."/>
       <action
             class="com.soartech.soar.ide.ui.actions.explorer.AddAgentActionDelegate"
             id="com.soartech.soar.ide.ui.actions.explorer.AddAgent"
             label="New Agent"
              menubarPath="com.soartech.soar.ide.ui.soarMenu/agent"
              style="push"
              tooltip="Adds an Agent to the project."/>
        <action
              class="com.soartech.soar.ide.ui.actions.soarmenu.SpawnSoarDebuggerActionDelegate"
              id="com.soartech.soar.ide.ui.actions.soarmenu.SpawnSoarDebuggerActionDelegate"
              label="Spawn Debugger"
              menubarPath="com.soartech.soar.ide.ui.soarMenu/debugger"
              style="push"
              tooltip="Spawns an instance of the Soar Debugger and connects it to the IDE."/>
        <action
              class="com.soartech.soar.ide.ui.actions.explorer.LoadMultipleProjectsActionDelegate"
              id="com.soartech.soar.ide.ui.actions.explorer.LoadMultipleProjectsActionDelegate"
              label="Load Multiple Projects..."
              menubarPath="com.soartech.soar.ide.ui.soarMenu/debugger"
              style="push"
              tooltip="FOR TESTING: Loads many projects into the IDE, one after antoher."/>
     </actionSet>
  </extension>
  
	<extension
        point="org.eclipse.ui.preferencePages">
     	<page
            class="com.soartech.soar.ide.ui.preferences.SoarEditorPreferencePage"
            id="com.soartech.soar.ide.ui.preferencepage"
            name="Soar Editor"/>
        <page
           name="Templates"
           class="com.soartech.soar.ide.ui.preferences.SoarEditorTemplatesPreferencePage"
           id="com.soartech.soar.ide.ui.templatepreferencepage"
           category="com.soartech.soar.ide.ui.preferencepage"/>
        <page
           name="Syntax Coloring"
           class="com.soartech.soar.ide.ui.preferences.SoarEditorColoringPreferencePage"
           id="com.soartech.soar.ide.ui.coloringpreferencepage"
           category="com.soartech.soar.ide.ui.preferencepage"/>
  	</extension>
  	 
	<extension
        point="org.eclipse.ui.editors.templates">

           <!-- BEGIN OPERATOR CONTEXT TEMPLATES -->
           
     <contextType
           class="com.soartech.soar.ide.ui.editors.text.SoarOperatorContext"
           id="com.soartech.soar.ide.ui.editors.text.SoarOperatorContext"
           name="Soar Operator Context"/>
     <template
           autoinsert="true"
           contextTypeId="com.soartech.soar.ide.ui.editors.text.SoarOperatorContext"
           description="Compare Operator"
           icon="icons/soar.gif"
           id="com.soartech.soar.ide.ui.soar.operator.compareOperator"
           name="sp">
        <pattern>
sp {${problemspace}*compare*${operator}
   (state &lt;s&gt; ^name ${problemspace}
              ^operator &lt;op1&gt; +
                        &lt;op2&gt; +)
   (&lt;op1&gt; ^name ${operator})
   (&lt;op2&gt; ^name)
--&gt;
   (&lt;s&gt; ^operator &lt;op1&gt; &gt; &lt;op2&gt;)
}
        </pattern>
     </template>
     
     <template
           autoinsert="true"
           contextTypeId="com.soartech.soar.ide.ui.editors.text.SoarOperatorContext"
           description="Apply Operator"
           icon="icons/soar.gif"
           id="com.soartech.soar.ide.ui.soar.operator.applyOperator"
           name="sp">
        <pattern>
sp {${problemspace}*apply*${operator}
   (state &lt;s&gt; ^operator &lt;op&gt;)
   (&lt;op&gt; ^name ${operator})
--&gt;
   (&lt;s&gt;)
}
        </pattern>
     </template>
     
     <template
           autoinsert="true"
           contextTypeId="com.soartech.soar.ide.ui.editors.text.SoarOperatorContext"
           description="Elaborate Substate"
           icon="icons/soar.gif"
           id="com.soartech.soar.ide.ui.soar.operator.elaborateSubstate"
           name="sp">
        <pattern>
sp {${problemspace}*elaborate-state*substate
   (state &lt;s&gt; ^name ${problemspace}
              ^superstate.operator &lt;so&gt;)
   (&lt;so&gt; ^name ${superstateoperator})
--&gt;
   (&lt;s&gt;)
}
        </pattern>
     </template>
     
     <template
           autoinsert="true"
           contextTypeId="com.soartech.soar.ide.ui.editors.text.SoarOperatorContext"
           description="Propose Operator"
           icon="icons/soar.gif"
           id="com.soartech.soar.ide.ui.soar.operator.proposeOperator"
           name="sp">
        <pattern>
sp {${problemspace}*propose*${operator}
   (state &lt;s&gt; ^name ${problemspace})
--&gt;
   (&lt;s&gt; ^operator &lt;op&gt; + =)
   (&lt;op&gt; ^name ${operator})
}
        </pattern>
     </template>
     
     <template
           autoinsert="true"
           contextTypeId="com.soartech.soar.ide.ui.editors.text.SoarOperatorContext"
           description="Elaborate State"
           icon="icons/soar.gif"
           id="com.soartech.soar.ide.ui.soar.operator.elaborateState"
           name="sp">
        <pattern>
sp {${problemspace}*elaborate-operator*${operator}
   (state &lt;s&gt; ^name ${problemspace})
--&gt;
   (&lt;s&gt;)
}
        </pattern>
     </template>
     
     <!-- END OPERATOR CONTEXT TEMPLATES -->
     
     <!-- BEGIN RULE CONTEXT TEMPLATES -->

     
     <contextType
           class="com.soartech.soar.ide.ui.editors.text.SoarRuleContext"
           id="com.soartech.soar.ide.ui.editors.text.SoarRuleContext"
           name="Soar Rule Context"/>
           
     <template
           autoinsert="true"
           contextTypeId="com.soartech.soar.ide.ui.editors.text.SoarRuleContext"
           description="Compare Operator"
           icon="icons/soar.gif"
           id="com.soartech.soar.ide.ui.soar.rule.compareOperator"
           name="sp">
        <pattern>
sp {${rule}
   (state &lt;s&gt; ^name ${problemspace}
              ^operator &lt;op1&gt; +
                        &lt;op2&gt; +)
   (&lt;op1&gt; ^name ${operator})
   (&lt;op2&gt; ^name)
--&gt;
   (&lt;s&gt; ^operator &lt;op1&gt; &gt; &lt;op2&gt;)
}
        </pattern>
     </template>
     
     <template
           autoinsert="true"
           contextTypeId="com.soartech.soar.ide.ui.editors.text.SoarRuleContext"
           description="Apply Operator"
           icon="icons/soar.gif"
           id="com.soartech.soar.ide.ui.soar.rule.applyOperator"
           name="sp">
        <pattern>
sp {${rule}
   (state &lt;s&gt; ^operator &lt;op&gt;)
   (&lt;op&gt; ^name ${operator})
--&gt;
   (&lt;s&gt;)
}
        </pattern>
     </template>
     
     <template
           autoinsert="true"
           contextTypeId="com.soartech.soar.ide.ui.editors.text.SoarRuleContext"
           description="Elaborate Substate"
           icon="icons/soar.gif"
           id="com.soartech.soar.ide.ui.soar.rule.elaborateSubstate"
           name="sp">
        <pattern>
sp {${rule}
   (state &lt;s&gt; ^name ${problemspace}
              ^superstate.operator &lt;so&gt;)
   (&lt;so&gt; ^name ${superstateoperator})
--&gt;  
   (&lt;s&gt;)
}
        </pattern>
     </template>
     
     <template
           autoinsert="true"
           contextTypeId="com.soartech.soar.ide.ui.editors.text.SoarRuleContext"
           description="Propose Operator"
           icon="icons/soar.gif"
           id="com.soartech.soar.ide.ui.soar.rule.proposeOperator"
           name="sp">
        <pattern>
sp {${rule}
   (state &lt;s&gt; ^name ${problemspace})
--&gt;
   (&lt;s&gt; ^operator &lt;op&gt; + =)
   (&lt;op&gt; ^name ${operator})
}
        </pattern>
     </template>
     
     <template
           autoinsert="true"
           contextTypeId="com.soartech.soar.ide.ui.editors.text.SoarRuleContext"
           description="Elaborate State"
           icon="icons/soar.gif"
           id="com.soartech.soar.ide.ui.soar.rule.elaborateState"
           name="sp">
        <pattern>
sp {${rule}
   (state &lt;s&gt; ^name ${problemspace})
--&gt;
   (&lt;s&gt;)
}
        </pattern>
     </template>
     
     <!-- END RULE CONTEXT TEMPLATES -->
     
  </extension>
 <extension
       point="org.eclipse.ui.views">
    <category
          id="com.soartech.soar.ide.ui.SoarCategory"
          name="Soar"/>
    <view
          category="com.soartech.soar.ide.ui.SoarCategory"
          class="com.soartech.soar.ide.ui.views.explorer.SoarExplorerView"
          icon="icons/package.gif"
          id="com.soartech.soar.ide.ui.views.SoarExplorerView"
          name="Soar Explorer"/>
    <view
          category="com.soartech.soar.ide.ui.SoarCategory"
          class="com.soartech.soar.ide.ui.views.itemdetail.SoarDatabaseItemView"
          icon="icons/package.gif"
          id="com.soartech.soar.ide.ui.views.SoarDatabaseItemView"
          name="Item Detail"/>
    <view
          category="com.soartech.soar.ide.ui.SoarCategory"
          class="com.soartech.soar.ide.ui.views.search.SoarDatabaseSearchResultsView"
          icon="icons/package.gif"
          id="com.soartech.soar.ide.ui.views.SoarDatabaseSearchResultsView"
          name="Search Results"/>
 </extension>
 
 <extension
       point="org.eclipse.ui.editors.annotationTypes">
    <type
          name="com.soartech.soar.ide.ui.error"
          super="org.eclipse.ui.workbench.texteditor.error"/>
    <type
          name="com.soartech.soar.ide.ui.warning"
          super="org.eclipse.ui.workbench.texteditor.warning"/>
    <type
          name="com.soartech.soar.ide.ui.info"
          super="org.eclipse.ui.workbench.texteditor.info"/>
 </extension>
 
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer class="com.soartech.soar.ide.ui.SoarEditorPluginPreferenceInitializer"/>
 </extension>
 
 <extension
       point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
          class="com.soartech.soar.ide.ui.editors.text.quickfix.TestResolutionGenerator"
          markerType="com.soartech.soar.ide.problemmarker">
    </markerResolutionGenerator>
 </extension>
 
</plugin>
